.container {
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none !important;
  margin: 0 auto;
  padding: 0;
  flex: 1;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.renderer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skeleton {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 19%,
    var(--border-color) 19%,
    var(--border-color) 21%,
    transparent 21%,
    transparent 39%,
    var(--border-color) 39%,
    var(--border-color) 41%,
    transparent 41%,
    transparent 59%,
    var(--border-color) 59%,
    var(--border-color) 61%,
    transparent 61%,
    transparent 79%,
    var(--border-color) 79%,
    var(--border-color) 81%,
    transparent 81%,
    transparent 99%,
    var(--border-color) 99%,
    var(--border-color) 100%
  );
  background-size: 100% 100%;
  opacity: 0.1;
  margin: 30px 0;
}
