.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
  flex: 1;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.renderer {
  width: 100%;
  display: flex;
  justify-content: center;
}
