.container {
  width: 100vw;
  height: 4px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bar {
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: left;
  will-change: transform;
}
